* {
    border: none;
    border-radius: 0;
    font-family: DejaVu Sans Mono, FontAwesome, monospace;
    font-size: 20px;
}

window#waybar {
    /* background: #352718; */
    /* background: transparent; */
    background-color: rgba(53,39,24,0.75);
    color: #ffffff;
}

tooltip {
    background: #352718;
    border: 1px solid #5d5f63;
}

tooltip label {
  color: white;
}

#workspaces button {
    color: #ffa21f;
}

#workspaces button.persistent {
    /* color: #dfd2c4; */
    color: #ffffff
}

#workspaces button.focused {
    color: #6fd560;
}

#workspaces button:hover {
    background: #fff6d8;
    color: #484431;
}

#window {
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio,#wireplumber,#network,#cpu,#memory,#backlight,#battery,#clock {
	margin-left: 5px;
	margin-right: 5px;
}

#wireplumber {
    border-top: 5px solid #ffa21f;
    color:  #ffffff;
}

#wireplumber.muted {
    color: #887c8a;
}

#network {
	border-top: 5px solid #6fd560;
    color: #ffffff;
}

#network.disconnected {
	border-top: 5px solid #b02930;
    color: #ffffff;
}

#cpu {
    border-top: 5px solid #57aff6;
    color: #ffffff;
}

#memory {
    border-top: 5px solid #90918a;
    color: #ffffff;
}

#backlight {
    border-top: 5px solid #6fcad0;
    color: #ffffff;
}

#battery.full {
    border-top: 5px solid #a0d13a;
    color: #ffffff;
}

#battery.good {
    border-top: 5px solid #e4b53f;
    color: #ffffff;
}

#battery.critical {
    border-top: 5px solid #b02930;
    color: #ffffff;
}

#clock {
    border-top: 5px solid #f0aac5;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
